@import '../utilities/variables';


$navNames: groups servers executables services transactions gateways;

#side {
  width: $sidebar-width;
  min-height: 100%;
  display: grid;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;

  background-color: $color-side-nav-background;

  &__content {
    display: block;

  }

}


.casual-logo {

  position: relative;
  display: block;
  height: 4em;
  width: auto;
  margin-top: calc(#{$top-navbar-height} + 2em);
  margin-bottom: 2em;

}

.casual-logo a {
  position: relative;
  display: block;
  height: 100%;
}

.casual-logo-img {

  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  // border: solid 1px black;
  filter: invert(100%);
  content: url('assets/img/casual_vertical_BW.svg');

}

.navi-item {
  position: relative;
  display: block;
  height: $side-nav-button-height;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -1px;
  padding-left: 1.5em;

  &__text {

    position: relative;
    display: block;
    text-align: start;
    line-height: 4.1em;
    font-size: $side-nav-font-size;


    @each $name in $navNames {

      &--#{$name}:before {

        background-image: url('assets/icons/#{$name}.svg');
        background-size: $side-nave-icon-size;
        display: inline-block;
        position: relative;
        width: $side-nave-icon-size;
        height: $side-nave-icon-size;
        vertical-align: sub;
        //top: 5px;
        //left: -10px;
        content: "";
        filter: invert(75%);
        margin-right: 0.5em;

      }
    }


  }

  &__inner {

    position: relative;
    //width: $sidebar-width;
    display: block;
    //left: $sidebar-width;
    height: 2em;

    &__text {

      position: relative;
      display: block;
      text-align: start;
      line-height: 2.7em;
      font-size: $side-nav-font-size-sm;

      padding-left: 3em;
    }

  }

  &.selected {
    background-color: $color-side-nav-background-active;

    &:before {
      display: inline-block;
      background: #1b1e21;
      content: " ";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 3px;
      color: black;
      filter: invert(75%);
    }
  }

  &:hover {
    background-color: $color-side-nav-background-active;

  }

}

.navi-anchor {
  display: block;
  color: $color-anchor-light;

  &:hover {
    text-decoration: none;
  }
}

.navis {
  display: grid;
  grid-auto-flow: row;
  //flex-direction: column;
  padding: 0;
  //height: 100%;

  &__text {

    display: block;
    text-align: center;
    vertical-align: middle;
  }


  &__link {

    position: relative;

    //box-sizing: border-box;
    width: $sidebar-width;
    height: $side-nav-button-height;
    //vertical-align: top;

    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: -1px;
    // padding-top: 1.1em;


    // margin-left: 2em;
    // margin-right: 1em;
    // margin-bottom: 0.3em;
    //border-radius: 0.3em;

    &__tree {
      //border: 1px solid red;
    }

    &__tree:hover .dropout-nav {
      display: inline-block;
    }

  }

  &__link:not(.selected):hover {
    background-color: $color-side-nav-background-active;
  }


  &__link.selected {
    background-color: $color-side-nav-background-active;
  }

  &__link.selected:before {
    background: #1b1e21;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
    color: black;
    filter: invert(75%);
  }

  &__link a {
    display: block;
    position: absolute;
    color: $color-anchor-light;
    width: 100%;
    height: 100%;
  }

  &__link:hover {
    text-decoration: none;
  }


  &__particle {
    display: block;
    position: absolute;

    vertical-align: sub;
    font-size: $side-nav-font-size;

  }

  &__particle-text {
    display: inline-block;
    padding-left: 4em;
    color: $color-anchor-light;
    //line-height: 3.9em;
    // padding-top: 1.2em;

    //vertical-align: middle;


    &__groups:before {
      background-image: url('assets/icons/groups.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 5px;
      left: -10px;
      content: "";
      filter: invert(75%);
    }

    &__servers:before {
      background-image: url('assets/icons/servers.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 5px;
      left: -10px;
      content: "";
      filter: invert(75%);
    }

    &__servers:after {
      background-image: url('assets/icons/right-arrow-single.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 5px;
      left: 50px;
      content: "";
      filter: invert(75%);
    }

    &__services:before {
      background-image: url('assets/icons/services.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 2px;
      left: -10px;
      content: "";
      filter: invert(75%);
    }

    &__executables:before {
      background-image: url('assets/icons/executables.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 2px;
      left: -10px;
      content: "";
      filter: invert(75%);
    }

    &__gateways:before {
      background-image: url('assets/icons/gateways.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 2px;
      left: -10px;
      content: "";
      filter: invert(75%);
    }

    &__transactions:before {
      background-image: url('assets/icons/transactions.svg');
      background-size: $side-nave-icon-size;
      display: inline-block;
      position: relative;
      width: $side-nave-icon-size;
      height: $side-nave-icon-size;
      top: 2px;
      left: -10px;
      content: "";
      filter: invert(75%);
    }


  }

  .dropout-nav {
    display: none;
    position: absolute;
    left: $sidebar-width;
    // width: $sidebar-width;
    // height: $side-nav-button-height;
    background-color: $color-side-nav-background;

  }


}

