:root {
    --link-color: #0f6674;
    --a-color: #1d2124;
    --main-text-color: #1d2124;
    --main-border-color: #95999c;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span#version {
    position: absolute;

    bottom: 0;
    right: 10px;
    margin-bottom: 20px;
    opacity: 0.5;
    font-size: 11pt;
}

.table-style {

    background: transparent;
    color: #1b1e21;
    width: 100%;
}

div.bread {
    display: inline;
}
div.bread:not(.first) {
    margin-left: 0.5rem;
    display: inline;
}

div.bread:not(.last):after {
    content: "\00a\/";
    color: #95999c;
    font-size: 0.875rem;
    margin: 0 0 0 0.5rem;
    position: relative;
    top: 1px;
}

span.bread-current {
    opacity: 0.5;
}

.breadcrumbs {
    margin-bottom: 20px;
    /*background: #f1f1f1;*/
    padding: 10px 0 10px 0;
    font-size: 0.875rem;
    border-bottom: 1px solid #f1f1f1;

}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline;
}


.breadcrumbs li a {
    color: var(--link-color);
}

.breadcrumbs li a.first {
    color: black;
}

.table-style thead {

    /*background: #f1f1f1;*/

}

.table-style thead th {

    /*border: 1px solid #95999c;
    border-bottom: 2px solid #95999c;
    */

    padding: 0.5rem;
    font-size: 13pt;
}

.table-style tbody tr:nth-child(odd) {
    background: #f1f1f1;

}

.table-style td.number {
    float: right;
}

.table-style tbody td {
    font-size: 8pt;
    height: 5px;
    padding: 0.35rem;
}

.table-style td a {
    color: #0f6674;
}

.table-style-transparent td {
    padding: 0.5rem;
    font-size: 12pt;
}

.table-style-transparent th {
    padding: 0.5rem;
    font-size: 15pt;
}

#casual-logo {
    cursor: pointer;
}

#casual-logo img {


    position: relative;
    width: 200px;
    height: 100px;
    left: 15px;
    vertical-align: center;

}

#content {
    margin-top: 10px;
    margin-left: 270px;
    float: left;

}

#main-content.container-fluid {
    box-shadow: 5px 7px 2px 10px #95999c;
}

.content-header {
    z-index: -1;
    margin-bottom: 12px;
    height: 100px;
    width: 100%;
    border-bottom: solid 1px var(--main-border-color);
}

.content-header div {
    position: relative;
    float: right;
    top: 40px;
    right: 200px;
}

#side {
    min-width: 250px;
    min-height: 100%;
    border-right: solid 1px var(--main-border-color);
    padding: 0;

    position: relative;
    box-sizing: border-box;
}

.container-main {
    overflow: hidden;
    min-width: 50%;
    box-sizing: border-box;

}

.testing {
    color: red;
}

li.navi {
    display: block;
    margin-left: 0;
    box-sizing: border-box;
    /*border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #afafaf; */
    margin-top: -1px;
    border: 1px solid var(--main-border-color);
    position: relative;
    min-height: 60px;
    margin-right: -1px;

}

li.navi:not(.selected):hover {
    background-color: #f1f1f1;

}

li.navi.selected {
    background-color: #f1f1f1;

}

li.navi.selected:before {

    /* background-color: #ddd;*/

    background: #1b1e21;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
    color: black;

}

.navi a {
    position: absolute;
    display: block;
    color: var(--a-color);
    width: 100%;
    height: 100%;
    justify-content: center;
}

.navi div.particle {
    position: absolute;
    top: 15px;
    left: 50px;
    font-size: 13pt;
}

.navi a:hover {
    text-decoration: none;
    color: black;
}

.navi div:before {
    background-image: url('../resources/icons/right-arrow-single.svg');
    background-size: 10px, 10px;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 9px;
    left: -25px;
    content: "";
}


a.back-button {
    position: relative;
    padding: 3px 5px 3px 15px;
    color: #95999c;

}

a.back-button:before {
    background-image: url('../resources/icons/left-arrow-single.svg');
    background-size: 10px, 10px;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 9px;
    left: 2px;
    content: "";
}

a.name-link {
    color: #0f6674;
}


pre.property {
    margin: 0;
    font-size: 8pt;
}

.page-title {
    color: var(--main-text-color);
    font-size: 21pt;
    margin-bottom: 10px;
}

.property-title {
    font-size: 13pt;
    color: var(--main-text-color);
}

.property-title.head {
    font-size: 18pt;
    width: 100%;
}

.info-item {
    margin: auto;
}

hr {
    border-top: solid 1px rgba(0, 0, 0, 0.05);
}

.button-scale {
    background-color: #f1f1f1;
    position:relative;
    overflow: hidden;
    border: none;
    color: var(--main-text-color);
    padding:1px 10px;
    width: 30px;
    font-size: 0.875rem;
    margin: 0 5px;
}