<template>
    <div class="top">
        <div class="top-left">
            <div class="top-left__logo">
                <a href="/"></a>
            </div>
            <div class="top-left__version">
                <button disabled></button>
            </div>
        </div>


        <div class="top-right">
            Not logged in
        </div>
    </div>
</template>

<script>
    export default {
        name: "Topbar"
    }
</script>

<style scoped>

</style>