<hr>
<h4>0.2.0 (2019-03-27)</h4>
<ul>
    <li>Scaling is now available.</li>
</ul>

<hr>
<h4>0.1.7 (2019-03-23)</h4>
<ul>
    <li>Added breadcrumbs</li>
    <li>Added dummy buttons for instance scaling</li>
    <li>Bugfixes and optimizations</li>
</ul>




