<template>
    <div>

        <h3>{{$options.name}}</h3>


        <ServerInfo v-if="server" @scale="scale" :server="server"></ServerInfo>


    </div>


</template>

<script>


    import ServerInfo from "./ServerInfo";

    export default {
        name: "Server",
        components: {ServerInfo},
        data() {
            return {
                serverAlias: this.$route.query.alias,
                currentServer: '',
                instances: 0
            }
        },
        created() {
            this.updateServer();
        },
        computed: {
            server: function () {
                return this.currentServer;
            }
        },
        methods: {
            updateServer: function () {
                let self = this;
                this.getServerByName(this.serverAlias, function (response) {

                    self.currentServer = response;

                });
            },
            scale: function (ins) {
                let self = this;
                this.scaleInstance(this.server.alias, ins, function (response) {
                    self.updateServer();

                })
            }
        }
    }
</script>

<style scoped>

</style>