<!DOCTYPE html>
<html ng-app="webapp">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="resources/favicon.ico">
    <!-- build:css css/main.min.css-->
    <link rel="stylesheet" type="text/css"
          href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- endbuild-->
    <!-- build:js js/casual-web.min.js-->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-ui-api/release/angular-ui-api.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <script src="js/service/backendservice.js"></script>
    <script src="js/service/frontendservice.js"></script>
    <script src="js/config/stateconfig.js"></script>
    <script src="js/controllers/appcontroller.js"></script>
    <script src="js/controllers/domaincontroller.js"></script>
    <script src="js/controllers/instancecontroller.js"></script>
    <script src="js/controllers/servercontroller.js"></script>
    <script src="js/controllers/servicecontroller.js"></script>
    <script src="js/controllers/groupcontroller.js"></script>
    <script src="js/directives/bindhtmldirectives.js"></script>
    <script src="js/directives/breadcrumbdirectives.js"></script>
    <!-- endbuild-->

    <title>Casual</title>
</head>
<body ng-controller="webCtrl">

<div class="container-fluid container-main">

    <div class="row">
        <div class="col-sm-1 position-fixed" id="side">
            <div id="casual-logo">
                <a ui-sref="casual">
                    <img class="img-responsive" src="resources/img/casual%20left%20BW.svg">
                </a>
            </div>

            <ul class="nav flex-column left-nav">
                <li class="nav-item navi" ng-class="{'selected': activeState === 'groups'}">
                    <a ui-sref="groups" class="nav-link">
                        <div class="particle">Groups</div>
                    </a>
                </li>
                <li class="nav-item navi" ng-class="{'selected': activeState === 'servers'}">
                    <a ui-sref="servers" class="nav-link">
                        <div class="particle">Servers</div>
                    </a>
                </li>
                <!--
                 <li class="nav-item navi" ng-class="{'selected': activeState === 'instances'}">
                      <a ui-sref="instances" class="nav-link">
                          <div class="particle">Instances</div>
                      </a>
                  </li>
                  -->
                <li class="nav-item navi" ng-class="{'selected': activeState === 'services'}">
                    <a ui-sref="services" class="nav-link">
                        <div class="particle">Services</div>
                    </a>
                </li>
            </ul>

            <span id="version" ng-cloak>v{{version || 'development'}}</span>
        </div>


        <div class="col" id="content">

            <div class="row">
                <div class="col-md-12">
                    <div id="main-content" ui-view></div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>