$link-color: #0f6674;
//$color-anchor: #fdeeff;
$color-anchor: #0f6674;
$color-anchor-light: #f1f1f1;
$main-text-color: #1d2124;
$color-main-border: #010101;

$color-theme-tint-1: #292e34;
$color-theme-tint-2: #1d2124;
$color-theme-tint-3: #3a424a;



$color-top-nav-background: black;

$color-side-nav-background: #292e34;
//$color-side-background: #37414c;
$color-side-nav-background-active: #3a424a;

$color-side-link-background: linear-gradient($color-side-nav-background, $color-side-nav-background-active, $color-side-nav-background);