
$top-navbar-height: 3em;
$top-side-padding: 1em;

$sidebar-width: 13rem;

$side-nav-button-height: 4rem;
$side-nav-font-size: 11pt;
$side-nav-font-size-sm: 9pt;

$side-nave-icon-size: 1.1em;

//$api-font-size: 11pt;





