<template>
    <div>

        <h3>{{$options.name}}</h3>

        <AllGroupsTable v-if="groups !== ''" :groups="groups"></AllGroupsTable>


        <UpdateButton @go="refreshTable" :value="refreshButtonText"></UpdateButton>

    </div>
</template>

<script>
    import AllGroupsTable from "./AllGroupsTable";
    import UpdateButton from "../../utilities/SimpleButton";

    export default {
        name: "Groups",
        components: {UpdateButton, AllGroupsTable},
        data() {
            return {
                groups: ''
            }
        },
        created() {
            this.refreshTable();
        },
        methods: {
            refreshTable: function () {
                let self = this;
                this.getAllGroups(function (response) {
                    self.groups = response;

                });

            }
        }
    }
</script>

<style scoped>

</style>