<template>
    <div>

        <h3>{{$options.name}}</h3>



        <GroupInfo v-if="group.id" :group="group" :hasDependencies="hasDependencies"></GroupInfo>

    </div>
</template>

<script>
    import GroupInfo from "./GroupInfo";

    export default {
        name: "Groups",
        components: {GroupInfo},
        data() {
            return {
                groupName: this.$route.query.name,
                groupBody: {
                    dependencyNames: []
                },

            }
        },
        methods: {
            updateGroupInfo: function () {

                let self = this;
                this.getGroupByName(this.groupName, function (response) {
                    self.groupBody = response;
                });
            }
        },
        created() {
            this.updateGroupInfo();
            this.$store.commit('setTitleName', this.groupName);
        },
        computed: {
            hasDependencies: function () {
                return this.groupBody.dependencyNames.length > 0;
            },
            group: function () {
                return this.groupBody;
            }
        },
        watch: {
            '$route.query.name': function(){
                this.groupName = this.$route.query.name;
                this.updateGroupInfo();
            }
        }
    }
</script>

<style scoped>

</style>