<template>
    <div>
        <hr/>
        <div class="footer">Casual Console</div>
    </div>
</template>

<script>
    export default {
        name: "CasualFooter"
    }
</script>

<style scoped>

</style>