<div class="container">
    <h3>Other Executables</h3>


    <form>
        <div class="form-group row">
            <label for="keywordInput" class="col-sm-2 col-form-label"><b>Search</b></label>
            <div class="col-sm-4">
                <input class="form-control" id="keywordInput" type="text" ng-model="searchKeyword">
            </div>
        </div>
    </form>

    <table class="table table-sm table-dark table-bordered">
        <thead>
        <tr>
            <th scope="col">Alias</th>
            <th scope="col">Note</th>
            <th scope="col">Path</th>
            <th scope="col">Instances</th>
            <th scope="col">Memberships</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-text" ng-repeat="executable in domain.executables | filter: searchKeyword">

            <td scope="row">
                <div ng-bind-html="addAnchor(executable.alias);" init-bind></div>
            </td>
            <td>{{executable.note}}</td>
            <td>{{executable.path}}</td>
            <td>{{getInstances(executable.instances, 1)}}</td>
            <td>{{getGroupNames(executable.memberships)}}</td>


            <!-- <div class="service-name col-md-2 bg-light">Server</div>-->
        </tr>
        </tr>

        </tbody>
    </table>
</div>
