<h3>Gateway</h3>
<div>

<!--
    <form>
        <div class="form-group row">
            <label for="keywordInput" class="col-sm-2 col-form-label"><b>Search</b></label>
            <div class="col-sm-4">
                <input class="form-control" id="keywordInput" type="text" ng-model="searchKeyword">
            </div>
        </div>
    </form>

    <table class="table table-sm table-dark table-bordered">
        <thead>
        <tr>

            <th scope="col">Host</th>
            <th scope="col">Port</th>
            <th scope="col">Limit Size</th>
            <th scope="col">Limit Messages</th>

        </tr>
        </thead>
        <tbody>

        <tr class="table-text" ng-repeat="gateway in gateway.data.result.listeners | filter: searchKeyword">

            <td scope="row">{{gateway.address.host}}</td>
            <td>{{gateway.address.port}}</td>
            <td>{{gateway.limit.size}}</td>
            <td>{{gateway.limit.messages}}</td>
        </tr>
        </tr>

        </tbody>
    </table>

    -->
    <h4>Nothing to see here... yet.</h4>


</div>
