<div class="container-fluid">
    <div serve-bread></div>

    <div class="page-title">Groups</div>

    <form>
        <div class="form-group row">
            <label for="keywordInput" class="col-sm-2 col-form-label"><b>Search</b></label>
            <div class="col-sm-4">
                <input class="form-control" id="keywordInput" type="text" ng-model="searchKeyword">
            </div>
        </div>
    </form>


    <table class="table-style">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Note</th>
            <th scope="col">Resources</th>
            <th scope="col">Members</th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="group in domain.groups | filter: searchKeyword">

            <td scope="row">
                <div ng-bind-html="addAnchor('group', 'group', group.name, group.name);" init-bind></div>
            </td>
            <td>{{group.note}}</td>
            <td>{{group.resources.length > 0 ? group.resources.toString() : '-'}}</td>
            <td>{{getMembers(group.id).length}}</td>


        </tr>
        </tbody>
    </table>

</div>
