<div class="container-fluid">

    <div serve-bread></div>

    <div class="page-title">Group</div>
    <div class="row">

        <div class="col property-title head">
            {{selectedGroup}}
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-3 property-title">
            Dependecies:
        </div>
        <div class="col info-item">
            <div ng-repeat="dep in dependcyNames">
                <pre class="property"><div ng-bind-html="addAnchor('group', 'group', dep, dep)" init-bind></div></pre>
            </div>

            <div ng-if="dependcyNames.length === 0">
                <pre class="property">None</pre>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 property-title">
            Members:
        </div>
        <div class="col info-item">
            <div ng-repeat="member in members">
                    <pre class="property"><div
                            ng-bind-html="
                                addAnchor('server', 'server', member.alias, member.alias)"
                            init-bind>{{member.alias}}</div></pre>
            </div>

        </div>

    </div>
    <hr>
</div>