<div class="container-fluid">
<h3>Instances</h3>


    <form>
        <div class="form-group row">
            <label for="keywordInput" class="col-sm-2 col-form-label"><b>Search</b></label>
            <div class="col-sm-4">
                <input class="form-control" id="keywordInput" type="text" ng-model="searchKeyword">
            </div>
        </div>
    </form>

    <table class="table-style">
        <thead>
        <tr>
            <th scope="col">Executables</th>
            <th scope="col">PID</th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="instance in instances.sequential">

            <td>
                <div scope="row" ng-bind-html="addDom(instance.process.pid);" init-bind></div>
            </td>
            <td>{{instance.process.pid}}</td>
        </tr>


        </tbody>
    </table>


</div>
