<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exectutable</title>
</head>
<body>
<h1>Exectuable</h1>

<span>Here we will display some information about an executable. Maybe.</span>

<h4>Server-id: {{exid}}</h4>
</body>
</html>