<div class="container-fluid">
    <div serve-bread></div>

    <div class="page-title">Server</div>
    <div class="row">
        <div class="col property-title head">
            {{serverName}} <br/>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-3 property-title">
            Instances:
        </div>
        <div class="col info-item">
            <div class="row">

                <div class="col-md-2">
                    {{serverPID.length}}
                </div>
                <div class="col">
                    <button type="button" class="button-scale" ng-click="scale(serverPID.length - 1)">-</button>
                    <button type="button" class="button-scale" ng-click="scale(serverPID.length + 1)">+</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 property-title">
            Services:
        </div>
        <div class="col info-item">
            <div ng-repeat="service in services track by $index">
                <pre class="property"><div ng-bind-html="addAnchor('service', 'service', service, service)"
                                           init-bind></div></pre>
            </div>
        </div>
    </div>
    <hr>

</div>
