<div class="container-fluid">
    <div serve-bread></div>

    <div class="page-title">Service</div>

    <div class="row">

        <div class="col property-title head">
            {{selected}} <br/>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-3 property-title">
            Service:
        </div>
        <div class="col info-item">
            {{selected}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 property-title">
            Server:
        </div>
        <div class="col info-item">
            <div ng-include="'views/templates/anchor.html'">include</div>
            <!--
            <div ng-repeat="alias in server">
                <div ng-bind-html="addAnchor('server','server', alias, alias);" init-bind></div>
            </div>
            -->
        </div>
    </div>
    <hr>

</div>
