<div class="container-fluid">

    <div serve-bread></div>
    <div class="page-title">Services mount</div>

    <form>
        <div class="form-group row">
            <label for="keywordInput" class="col-sm-2 col-form-label"><b>Search</b></label>
            <div class="col-sm-6">
                <input class="form-control" id="keywordInput" type="text" ng-model="searchKeyword">
            </div>
        </div>
    </form>

    <div ncy-breadcrumb></div>

    <table class="table-style">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="service in services.services | filter: searchKeyword">

            <td scope="row" ng-bind-html="addAnchor('service','service', service.name, service.name);" init-bind></td>
            <td>{{service.category || '-'}}</td>

            <!-- <div class="service-name col-md-2 bg-light">Server</div>-->
        </tr>

        </tbody>
    </table>

</div>
