<div class="container-fluid">
    <div serve-bread></div>
    <div class="page-title">Servers</div>

    <form>
        <div class="form-group row">
            <label for="keywordInput" class="col-sm-2 col-form-label"><b>Search</b></label>
            <div class="col-sm-4">
                <input class="form-control" id="keywordInput" type="text" ng-model="searchKeyword">
            </div>
        </div>
    </form>


    <table class="table-style">
        <thead>
        <tr>
            <th scope="col">Alias</th>
            <th scope="col">Note</th>
            <th scope="col">Path</th>
            <th scope="col">Instances</th>
            <th scope="col">Memberships</th>
        </tr>
        </thead>
        <tbody>

        <!--        <tr class="table-text" ng-repeat="server in domain.data.result.servers | filter: searchKeyword">-->
        <tr ng-repeat="server in domain.servers | filter: searchKeyword">

            <td scope="row">
                <div ng-bind-html="addAnchor('server','server', server.alias, server.alias);" init-bind></div>
            </td>
            <td>{{server.note}}</td>
            <td>{{server.path}}</td>
            <td class="number">{{getInstances(server.instances, 0)}}</td>
            <td>
                <div ng-repeat="membership in $parent.getGroupNames(server.memberships)"
                     ng-bind-html="addAnchor('group', 'group', membership, membership);"
                     init-bind></div>
            </td>


            <!-- <div class="service-name col-md-2 bg-light">Server</div>-->
        </tr>
        </tr>

        </tbody>
    </table>
</div>

