<template>
    <div>

        <h3>{{$options.name}}</h3>


        <ExecutableInfo v-if="executable !== ''" :executable="executable"></ExecutableInfo>
    </div>
</template>

<script>
    import ExecutableInfo from "./ExecutableInfo";

    export default {
        name: "Executable",
        components: {ExecutableInfo},
        data() {
            return {
                executable: '',
                executableName: this.$route.query.alias
            }
        },
        methods: {
            updateExecutbleInfo: function () {
                let self = this;
                this.getExecutableByAlias(this.executableName, function (response) {
                    self.executable = response;
                })


            }
        },
        created() {
            this.updateExecutbleInfo();
        }
    }
</script>

<style scoped>

</style>